.header-margin{
    margin-left: 150px;
    margin-right: 150px;
}

.search-nav{
    height:28px
}

.search-bar{
    background-color: transparent;
    border: whitesmoke solid 1px;
    color:white;
}

.search-bar:focus{
    background-color: transparent;
    border: none;
    box-shadow: none
}


.search-icon{
    background-color: transparent;
    color:white;
    border: none;
}

.languages-select{
    width: 600px;
    margin-left: auto;
    margin-right: 200px;
}

.languages-link{
    margin-right: 50px;
}

.languages-link-text{
    text-decoration: underline;
    font-size: 14px;
}

.testi-usernames{
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

.watch-more{
    position: absolute;
    right: 70px;
}

.teacher-apply{
    width:80%; 
    margin-left:auto; 
    margin-right:auto
}

.apply-teacher-btn{
    position: relative;
    top: 100px;;
}

.border-btn-apply{
    border:#d4b068 solid 1px ;
}